# Python
.venv/
__pycache__/
*.pyc

# Données : on versionne le code, pas les données
data/*
!data/raw/
data/raw/*
!data/raw/.gitkeep
*.duckdb
*.duckdb.wal

# dbt
odisse/target/
odisse/dbt_packages/
odisse/logs/
logs/

# Divers
.env
.vscode/