# Python
.venv/
__pycache__/
*.pyc

# Données : on versionne le code, pas les données
data/*
!data/raw/
data/raw/*
!data/raw/.gitkeep
*.duckdb
*.duckdb.wal

# dbt
transform/target/
transform/dbt_packages/
transform/logs/
logs/

# Divers
.env
.vscode/